/*********************** Containers ****************************/

/*
* See Margin - https://www.w3schools.com/css/css_margin.asp
* See Position - https://www.w3schools.com/css/css_positioning.asp
*/
#parent_container {
  position: relative;
  width: 1024;
  height:  768;
  margin: auto;
}

/*********************** Canvas ****************************/

canvas {
  position: absolute;
  border: 1px solid black;
  width: 1024;
  height:  768;
  z-index: 1;
}




/* 
body {
  
  letter-spacing: 1px;
  font-size: 18px;
  background-color: rgb(40, 134, 15);
} */

/*********************** UI Text ****************************/
/*********************** UI Text ****************************/
#menu_opening,
#menu_winlose,
#ui_score,
#ui_lives{
  position: absolute;
 
  letter-spacing: 2px;
  font-size: 24px;
  color: rgb(218, 11, 11);
  text-shadow: 1px 1px rgb(255, 115, 0);
  text-align: center;
  z-index: 2;
}

#menu_opening{
  font-size: 48px;
  color: rgb(218, 11, 11);
  text-shadow: 1px 1px rgb(255, 115, 0);
}

#menu_opening,
#menu_winlose{
  margin-left: 0px;
  margin-top: 364px;
  width: 1024px;
  height: 60px;
}

#ui_score{
  top:20px;
  left:20px;
}

#ui_lives{
  right:20px;
  top:20px;
}
/*code taken from https://codepen.io/cooper5/pen/eYNgLoJ */
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

body {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Codystar';
   background: black;
   background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.neons {
   margin-top: 10rem;
   text-align: center;
}

.neons h1 {
  font-size: 9rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}




#Winner
{
  color: red;
  right:300px;
  top:300px;
}

#Loser{
  color: red;
  right:300px;
  top:300px;
}
